@font-face {
  font-family: "Cera";
  src: local("Cera-Bold"), url("./fonts/Cera-Bold.woff2") format("woff2"),
    url("./fonts/Cera-Bold.woff") format("woff");
  font-weight: Bold;
  font-style: normal;
}

@font-face {
  font-family: "Cera";
  src: local("Cera-Regular"), url("./fonts/Cera-Regular.woff2") format("woff2"),
    url("./fonts/Cera-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  --bg-color-dark: #1a1b20;
  --btn-red: #e40613;
  --text-tuxa: #ececec;
}

/* Set body styles */
body {
  font-family: "Cera", sans-serif;
  color: #dddddd;
  background-color: var(--bg-color-dark);
}

/* Center container element */
.container {
  display: flex; /* Make container a flexbox */
  flex: 1;
  height: 100vh;
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center elements horizontally */
  margin: 0 auto; /* Center container horizontally */
  max-width: 327px; /* Set a maximum width for responsiveness */
  padding: 20px; /* Add some padding for better spacing */
}

.arrow {
  margin-left: 0;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  line-height: 10px;
  spacing: 5px;
  font-size: 0.8rem;
  color: var(--text-secondary);
  opacity: 0.6;

  margin-top: 1rem;
  text-align: center;
  padding: 2rem 0;

  .heart-logo {
    width: 16px;
    margin: 0 0.5rem;
  }

  .heart {
    width: 22px;
    margin: 0 2px 0 1px;
  }
}
