/* Reset styles for a more consistent base */
@font-face {
  font-family: "Cera";
  src: local("Cera-Bold"), url("./fonts/Cera-Bold.woff2") format("woff2"),
    url("./fonts/Cera-Bold.woff") format("woff");
  font-weight: Bold;
  font-style: normal;
}

@font-face {
  font-family: "Cera";
  src: local("Cera-Regular"), url("./fonts/Cera-Regular.woff2") format("woff2"),
    url("./fonts/Cera-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --bg-colordark: #1e1f28;
  --bg-color: #edf2ff;
  --text-color: #0d0c22;
  --text-secondary: #7382ae;
  --bg-color-links: #39a0f9;
  --primary-color: #4263eb;
  --primary-color-dark: #364fc7;
  --bg-color-links-dark: #1e1f28;
  --primary-color-dark: #a61e4d;

  --bg-color-dark: #1a1b20;
  --btn-red: #e40613;
  --text-tuxa: #ececec;
}

/* Set body styles */
body {
  font-family: "Cera", sans-serif;
  color: #dddddd;
  background-color: var(--bg-color-dark);
}

/* Center container element */
.container {
  display: flex; /* Make container a flexbox */
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center elements horizontally */
  margin: 0 auto; /* Center container horizontally */
  max-width: 330px; /* Set a maximum width for responsiveness */
  padding: 20px; /* Add some padding for better spacing */
}

img.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 3.7px;
  border: 2px solid var(--bg-color-links);
}

h1.name-profile {
  margin-top: 1.5px;
  margin-bottom: 8px;
  font-size: 1.5rem;
}

p.role {
  font-weight: 400;
  font-size: 1rem;
  opacity: 0.8;
  margin-bottom: 2rem;
  color: var(--text-secondary);
}

h1.role-title {
  font-size: 2.2rem;
  font-weight: 800;
  margin-bottom: 2rem;
}

section p {
  line-height: 1.4;
}

/* Style profile section */
.profile {
  text-align: center; /* Center profile text */
  margin-bottom: 20px; /* Add space after profile section */
}

/* Style section element */
section {
  text-align: justify; /* Justify text for better readability */
  margin-bottom: 3rem; /* Add space after section element */
}

a {
  text-decoration: none;
}

/* Style projects and social sections */
.projects,
.social {
  display: flex;
  justify-content: center; /* Center elements horizontally */
  margin-bottom: 80px; /* Add space after sections */
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-top: 3rem;
}

.projects img {
  border: 1px solid var(--text-tuxa);
  border-radius: 12px;
}

/* Buttom CV */
.btn-cv {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;

  width: 333px;
  height: 80px;
  border-radius: 2px;
  padding: 1rem 5rem;
  background: var(--btn-red);
  font-family: "Cera", sans-serif;
  font-weight: 900;
  font-size: 1rem;
  gap: 8px;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.btn-cv:hover {
  background: var(--bg-color-links);
  transition: 0.1s;
}

.btn-cv a {
  text-decoration: none;
}

/* SOCIAL MEDIA LINKS */

.social {
  display: flex;
  align-items: flex-start;
  gap: 48px;
  margin-top: 6rem;
}

/* Style social icons */

.social-icons {
  width: 24px;
  height: 24px;
}

/* Style footer */

footer {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: Bold;
  line-height: 10px;
  spacing: 5px;
  font-size: 1rem;
  opacity: 0.6;

  margin-top: 1rem;
  text-align: center;
  padding: 2rem 0;

  .heart-logo {
    width: 16px;
    margin: 0 0.5rem;
  }
}

/* Additional styling for responsiveness or specific elements can be added here */
